*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, sans-serif;
}

p{
    color: rgb(77, 77, 77);
}

h1{
    font-weight: normal;
}

li{
    color: rgb(77, 77, 77);
}

.main-doc{
    display: flex;
    flex-direction: column;
}

/* Navbar */

#navbar{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    align-items: center;
    position: fixed;
    width: 100%;
    max-width: 300px;
    height: 100%;
    border-right: 3px solid rgb(146, 146, 146);
    margin-left: -10px;
}

#navbar h1{
    margin-bottom: 20px;
}

#navbar li{
    width: 290px;
    list-style: none;
    padding: 10px;
    border-top: 1px solid black;
    padding-right:0px;
    margin-left: -0px;
    text-align: left;

}

#navbar li:hover{
    cursor: pointer;
    text-decoration: underline;
}


#navbar li a{
    text-decoration: none;
    margin-left: 20px;
    color: rgb(77, 77, 77);
}


/* Main Section */

.main-section{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    height: 100%;
    margin-left: 400px;;
    margin-top: 15px;
    width: 100%;
    max-width: 75%;
    position: relative;
    
}

.main-section:first-of-type{
    margin-top: 40px;
}



.main-section header{
    margin-bottom: 20px;
    margin-left: -75px;
}

.main-section p{
    margin-bottom: 20px;
    font-size: 16;
}

.main-section ul li{
    margin-left: 60px;
    margin-bottom: 20px;
}

.main-section p,
.main-section ul li{
    font-size: 16px;
    line-height: 25px;
}

/* CSS */
.code-snippets{
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    color: rgb(145, 94, 0);
}

.code-indent{
    padding: 20px;
    color: rgba(17, 0, 255, 0.568);
}

.double-indent{
    padding-left: 40px;
}

#reference{
    margin-bottom: 40px;
}


















@media screen and (max-width: 1024px) {
    .main-section{
        width: 50%;
    }
}

@media screen and (max-width: 812px) {
    .main-section{
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    .main-section{
        width: 35%;
    }
}

@media screen and (max-width: 568px) {
    .main-section{
        width: 0%;
        overflow: hidden;
    }
}
